.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
}

.square {
    background-color:white;
}

.square.blak {
    background-color: black;
}